$black-text: #000;
$fone-header: #f6f6f6;
$text-gray: #bbbbbb;

body {
  background-color: #ffffff;
  margin: 0;
}

ul, h1, h2, h3, h4, h5 {
  list-style: none;
  padding: 0;
  margin: 0;
}

@import "block/_header";
@import "block/_main";
