$black: #010201;
$white: #ffffff;
$fone: #edf2ec;
$green: #499a18;
$orange: #e06733;
$text-gray: #636060;
$title-gray: #717171;
$border-card: #E3E1D5;
$trigger-icon: #D9D9D9;
$accordion-item-active: #D6E7D2;
$trigger-icon-active: #AEA1A1;
* {
  box-sizing: border-box;
}
body {
  max-width: 1400px;
  margin: 0 auto;
  // font-family: "Inika", serif;
  // font-family: "Inter", sans-serif;
}

@mixin button {
  width: 161px;
  height: 50px;
  border: 1px solid $orange;
  border-radius: 5px;
  font-family: "Inika";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  background-color: $fone;
  color: $orange;
  cursor: pointer;
}

@mixin button-hover {
  background: $orange;
  color: $white;
}

@import "block/header";
@import "block/welcome";
@import "block/about";
@import "block/service";
@import "block/prices";
