.footer {
  background-color: $white;
  .container {
    max-width: 1220px;
    margin: 0 auto;
    .footer-wrapper {
      height: 130px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 50px;
      color: $black;

      .footer-info {
        width: 180px;
        display: flex;
        justify-content: space-between;
        .footer-info__symbol {
        }
        .footer-info__year {
        }
        .footer-info__github {
        }
      }
      .footer-school {
      }
      .footer-messenger {
        width: 188px;
        display: flex;
        justify-content: space-between;

        .messenger img {
          cursor: pointer;
          transition: all 1s ease;
        }
        .messenger img:hover {
          transform: scale(1.25);
        }
      }
    }
  }
}
