.welcome {
  background-color: $fone;
  .container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 62px 0;
    .welcome-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .welcome-img {
        max-width: 445px;
        img {
          width: 100%;
        }
      }
      .welcome-content {
        max-width: 549px;
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;

        .content__title {
          font-weight: 700;
          font-size: 45px;
          line-height: 50px;
          color: $title-gray;
          margin-bottom: 42px;

          .content__title_green {
            color: $green;
          }
        }
        .content__text {
          font-size: 20px;
          line-height: 35px;
          color: $text-gray;
          margin-bottom: 48px;
        }
        .content__button {
          width: 158px;
          height: 44px;
          cursor: pointer;
          border: 2px solid $orange;
          border-radius: 10px;
          color: $black;
          background-color: $fone;
        }
        .content__button:hover {
          color: $white;
          background-color: $orange;
        }
      }
    }
  }
}
