.go-top {
  position: fixed;
  right: 25px;
  bottom: 10%;
  display: none;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background: url('../img/up-50.png'), $fone-header;
  border-radius: 50%;
}

.go-top:hover {
  opacity: 0.8;
}

.go-top_show {
  display: block;
}